        body{
        /* background-color:#300; */
        /* background-image:radial-gradient(circle, #633, #000); */

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        overflow-x: hidden;

        background-color: #ffffff;
    background-image: url("./download.svg");
    background-attachment: fixed;
    background-size: cover;

    /* background-color: #f1dfd1;
    background-image: linear-gradient(315deg, #f1dfd1 0%, #f6f0ea 74%); */

      }
      .container{
        width:100%;
        height:100%; 
      }
      .diyaContainer{
        position:relative;
        margin: auto;
          width: 300px;
          height: 450px;
      }
      
      .diya{
        width:300px;
        height:120px;
        top:50%;
        background:#A0522D;
        position:absolute;
        border-bottom-left-radius:50% 100%;
        border-bottom-right-radius:50% 100%;
        box-shadow:1px 1px 10px 1px black;
        
      }
      
      .diya:before{
        background-image: radial-gradient(orange,#DAA520);
        border-radius: 50%;
        box-shadow: 0 0 2px 1px black inset;
        content:"";
        height:40px;
        left:0;
        position:absolute;
        right:0;
        top:-20px;
      }
      
      .diya:after {
        background-color:black;
        border-top-left-radius:30% 50%;
        border-top-right-radius:30% 50%;
        box-shadow:0 0 15px 2px blue;
        content:"";
        height:40px;
        left:50%;
        margin-left:-3px;
        opacity:1;
        position:absolute;
        top:-40px;
        transform:rotate(-3deg);
        width:4px;
        z-index:7;
      }
      
      
      .flame{
        display: none;

        width:40px;
        height:40px;
        box-shadow: 0px 0px 10px 10px red;
        
        position:absolute;
        z-index:1;
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%;
        border-top-left-radius: 50%;
        transform:rotate(-45deg) scale(1.5,1.5);
      }
      
      .flame:after{
        width:10px;
        height:10px;
        content:"";
        box-shadow: 0px 0px 10px 10px yellow;
        background:yellow;
        position:absolute;
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%;
        border-top-left-radius: 50%;
        left:35%;
        top:35%;
      }
      
      .flame:before{
        width:40px;
        height:40px;
        content:"";
        box-shadow: 0px 0px 10px 5px orange;
        background:orange;
        position:absolute;
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%;
        border-top-left-radius: 50%;
      }
      
      .flameContainer{
        position:relative;
        animation-name: flicker;
        animation-duration:3ms;
        animation-delay:200ms;
        animation-timing-function: ease-in;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        top:37%;
        left:44%;
      }
      
      @keyframes flicker{
        0%   {transform: rotate(-1deg);}
        20%  {transform: rotate(1deg);}
        40%  {transform: rotate(-1deg);}
        60%  {transform: rotate(1deg) scaleY(1.04);}
        80%  {transform: rotate(-2deg) scaleY(0.92);}
        100% {transform: rotate(1deg);}
      }


      
      
      .youtube-width {
        max-width: 600px;
        min-width: 400px;
        margin: 30px auto 30px auto;
    }
        
        .youtube-container {
        padding-top: 0px;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        position: relative;
        z-index: 100;
        }
        
        .youtube-container iframe,
        .youtube-container object,
        .youtube-container embed {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 101;
        }
    

        svg{
            bottom: 0;
            width: 100%;
        }

        .credit{
            padding: 0;
            margin: 0;
            font-size: 13px;
            position: absolute;
            bottom: 5px;
            overflow: hidden;
        }

        a{
            text-decoration: none;
            color: black;
        }

        .main{
            position: relative;  

            overflow-x: hidden;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
  
        .footer{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 100px;
        }




        .icons {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            /* height: 100vh;
            width: 100vw; */
            /* margin: -8px; */
             background: #e0e5ec;
          }
          
          .frame{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            height: 80px;
            width: 350px;
            position: relative;
             /* box-shadow:
              inset 2px 2px 2px 0px rgba(255,255,255,.3),
             7px 7px 20px 0px rgba(0,0,0,.2),
             4px 4px 5px 0px rgba(0,0,0,.1);; */
           transition:box-shadow 0.6s cubic-bezier(.79,.21,.06,.81);
             border-radius: 10px;
          }
          
          .icon_btn{
            height: 35px;
            width: 35px;
            border-radius: 3px;
            background: #e0e5ec;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            -webkit-tap-highlight-color: rgba(0,0,0,0);
            -webkit-tap-highlight-color: transparent;
            box-shadow:
             inset 2px 2px 2px 0px rgba(255,255,255,.3),
             7px 7px 20px 0px rgba(0,0,0,.2),
             4px 4px 5px 0px rgba(0,0,0,.1);
           transition:box-shadow 0.6s cubic-bezier(.79,.21,.06,.81);
            font-size: 16px;
            color: #fff;
            text-decoration: none;
          }
          .icon_btn:active{
            box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
                        -4px -4px 6px 0 rgba(116, 125, 136, .2), 
              inset -4px -4px 6px 0 rgba(255,255,255,.2),
              inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
          }